modules = ["nodejs-20", "python-3.11", "web"]
run = "static-web-server -d public -p 3000"

[nix]
channel = "stable-24_11"
packages = ["firebase-tools", "gitFull", "glibcLocales", "playwright-driver", "static-web-server"]

[[ports]]
localPort = 3000
externalPort = 80

[[ports]]
localPort = 8008
externalPort = 8008

[[ports]]
localPort = 8092
externalPort = 5173

[[ports]]
localPort = 8115
externalPort = 8000

[[ports]]
localPort = 8133
externalPort = 5000

[[ports]]
localPort = 8148
externalPort = 6000

[[ports]]
localPort = 8316
externalPort = 8081

[[ports]]
localPort = 8386
externalPort = 3003

[[ports]]
localPort = 8474
externalPort = 9000

[[ports]]
localPort = 8489
externalPort = 4200

[[ports]]
localPort = 8565
externalPort = 3002

[[ports]]
localPort = 8639
externalPort = 3001

[[ports]]
localPort = 8814
externalPort = 8099

[[ports]]
localPort = 8836
externalPort = 8080

[[ports]]
localPort = 8869
externalPort = 6800

[[ports]]
localPort = 9005
externalPort = 3000
